/*	=	=	=	=	=	=	=	=	= counter-reset: =	=	=	=	=	=	*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
 *COLORS*
 * tan - 888461
 * dark sage - 45483f
 * red - 522627
 * dark red - 2a1319
 * sand - 6c5a32
 * dark sand - 4e411e
 * grey - 44403f
 * green - 111c16
 * blue - 0b1933 - 102440
 */

/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=
 							REGULAR STYLES
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

body{
	text-align: center;
	background: url(../images/background.jpg);
	font-size: 62.5%
}

.wrap{
	width: 960px; 
	margin: 0 auto;
	text-align: left;
	background: rgba(68, 64, 63, 0.6)
}

hr{
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, .9);
	width: 900px;
}

h2{
	font-size: 3.500em; /*35px*/
	color: #522627;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-weight: bold;
	text-shadow:
    	-1px -1px 0 #000,
    	1px -1px 0 #000,
    	-1px 1px 0 #000,
    	1px 1px 0 #000; 
   	letter-spacing: 1px;
   	margin: 5px 0 10px 0;
}

h4{
	font-size: 3.000em; /*30px*/
	color: #111c16;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	margin: 5px 0 10px 0;
	padding-top: 10px;
}

p, li, label {
	font-size: 2.000em; /*20px*/
	color: #111c16;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

a {
	text-decoration: none;
}

.btn {
	display: block;
	text-decoration: none;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	color: #c1c0c0;
	font-size: 2.000em;
	padding: 5px 8px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	border: 2px solid #000;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	background: #6b3b3c; /* Old browsers */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6b3b3c), color-stop(100%,#28161b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6b3b3c 0%,#28161b 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top,  #6b3b3c 0%, #28161b 100%); /* FF3.6+ */
	background: -o-linear-gradient(top,  #6b3b3c 0%,#28161b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6b3b3c 0%,#28161b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6b3b3c 0%,#28161b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b3b3c', endColorstr='#28161b',GradientType=0 ); /* IE6-9 */
}

.btn:hover {
	background: #2a1319; /* Old browsers */
	background: -moz-linear-gradient(top,  #2a1319 0%, #2a1319 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a1319), color-stop(100%,#2a1319)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2a1319 0%,#2a1319 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2a1319 0%,#2a1319 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2a1319 0%,#2a1319 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2a1319 0%,#2a1319 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a1319', endColorstr='#2a1319',GradientType=0 ); /* IE6-9 */
}

.btn:active {
	text-decoration: none;
}


/*	=	=	=	=	=	=	=	=	DIV TOP	=	=	=	=	=	=	=	*/

#top {
	padding: 10px 10px 50px 10px;
}

#top img {
	padding-right: 5px;
}

.logo {
	float: left;
	clear: left;
	margin-right: 650px;
}

#set {
	visibility: hidden;
}

/*	=	=	=	=	=	=	LOGIN	=	=	=	=	=	=	*/

#login {
	position: absolute;
	display: none;
	background-color: #45483f;
	width: 300px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .5);
	margin-left: 325px;
	text-align: center;
}

#login label {
	text-align: left;
	display: block;
	margin: 5px 0 5px 50px;
}

#login input {
	width: 200px;
	margin-bottom: 5px;
}

#logPass {
	text-decoration: none;
	font-size: 2.000em;
	color: #0b1933;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	border-bottom: 1px solid #0b1933;
	margin-right: 80px;
}

#logPass:hover {
	color: #111c16;
}

#login button {
	margin: 20px 0 20px 180px;
}


/*	=	=	=	=	=	=	LOGOUT	=	=	=	=	=	=	*/

#logout {
	position: absolute;
	display: none;
	background-color: #45483f;
	width: 500px;
	height: 200px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .5);
	margin-left: 250px;
	text-align: center;
}

#logout h2 {
	margin-top: 50px;
}

#logoutButtons {
	margin: 10px 0 20px 130px;
}

#cancel {
	width: 150px;
	float: left;
	clear: left;
}

/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=
 							CONTENT
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

.content{
	margin: 15px 100px 0 38px; 
	float: none;
}


/*	=	=	=	SIGN UP	=	=	=	*/

#signUp {
	width: 500px;
	margin: 15px 15px 0 15px; /*15/960 15/960*/
	float: left;
	clear: left;
}

#suHeading h2 {
	width: 145px;
	float: left;
	clear: left;
}

#signUp label {
	display: block;
	padding: 8px 0 5px 0;
}

#signUp input {
	height: 17px;
	width: 250px;
}

#first input {
	width: 155px;
}

#last input {
	width: 155px;
}


#first {
	width: 175px;
	float: left;
	clear: left;
}

#pass {
	width: 175px;
	float: left;
	clear: left;
}

#pass input {
	width: 155px;
}

#conf input {
	width: 155px;
}

#signUp button {
	margin: 10px 0 0 255px;
}

/*	=	=	=	=	=	=		FEATURES	=	=	=	=	=	=	*/

#features {
	margin: 100px 0 0 0;
	padding-bottom: 100px;
}

#features ul {
	list-style-type: circle;
}


/*	=	=	=	=	=	=	WHY	=	=	=	=	=	=	*/
#talk {
	margin: 0 0 0 20px;
	padding-bottom: 70px
}

#floatP {
	width: 400px;
	float: left;
	clear: left;
	margin-right: 15px;
}


/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=
 							ACTUAL TASK MANAGER
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

#taskMan{
	padding-bottom: 50px;
}

/*	=	=	=	=	=	= 	TABS	=	=	=	=	=	=	*/

#tab-container {
	background-color: rgba(69, 72, 63, .8);
	height: 950px;
	width: 850px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#tab-container h4 {
	color: #111c16;
	margin: 7px 0 0 15px;
}

.etabs { 
	margin: 5px 0 0 5px; 
	padding: 0; 
}

.tab { 
	display: inline-block; 
	zoom:1; 
	*display:inline; 
	background: #522627; /* Old browsers */
	background: -moz-linear-gradient(top, #522627 1%, #3a0506 83%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#522627), color-stop(83%,#3a0506)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #522627 1%,#3a0506 83%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #522627 1%,#3a0506 83%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #522627 1%,#3a0506 83%); /* IE10+ */
	background: linear-gradient(to bottom, #522627 1%,#3a0506 83%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#522627', endColorstr='#3a0506',GradientType=0 ); /* IE6-9 */
	border: solid 1px #000; 
	border-bottom: none; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	border-radius: 5px;tf 
}

.tab a { 
	color: #000;
	font-size: 18px; 
	line-height: 2em; 
	display: block; 
	padding: 0 10px; 
	outline: none; 
}

.tab a:hover { 
	text-decoration: underline; 
}

.tab.active { 
	background: #2a1319;
	background: -moz-linear-gradient(top, #3f1718 0%, #2a1319 0%, #2b1010 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f1718), color-stop(0%,#2a1319), color-stop(100%,#2b1010)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3f1718 0%,#2a1319 0%,#2b1010 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3f1718 0%,#2a1319 0%,#2b1010 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3f1718 0%,#2a1319 0%,#2b1010 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3f1718 0%,#2a1319 0%,#2b1010 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f1718', endColorstr='#2b1010',GradientType=0 ); /* IE6-9 */
	padding-top: 6px; 
	position: relative; 
	top: 1px; 
	border-color: #666; 
}
.tab a.active { 
	font-weight: bold; 
	color: #8e8e8e;
}

.tab-container .panel-container { 
	background: #fff; 
	border: solid #666 1px; 
	padding: 10px; 
	-moz-border-radius: 0 4px 4px 4px; 
	-webkit-border-radius: 0 4px 4px 4px; 
}

.tabTops h4 {
	float: left;
	clear: left;
}

.plus {
	position: absolute;
	float: right;
	clear: right;
	margin: 20px 0 0 625px;
}

/*	=	=	=	=	=	= ADDING PROJECTS	=	=	=	=	=	=	*/

#addProject {
	background: #44403f;
	position: absolute;
	display: none;
	margin-left: 200px;
	width: 450px;
	height: 280px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .5);
}

#addProject h4 {
	color: #522627;
	font-size: 2.200em;
}

#newProject {
	margin: 15px 0 0 10px;
}

#newProject label {
	font-size: 1.800em;
	display: inline;
	width: 100px;
	float: left;
	clear: left;
	text-align: right;
	margin: 3px 8px 0 0;
}

#newProject input {
	margin: 5px 0 0 0;
}

#newProject textarea {
	margin: 5px 0 0 0;
	height: 75px;
}

#newProject select {
	margin: 5px 0 0 0;
}

#newProject button {
	margin: 10px 0 0 300px;
}

#newProject .btn {
	font-size: 1.800em;
}

/*	=	=	=	=	=	=	EDITING PROJECTS	=	=	=	= 	=	=	*/

#editProject {
	background: #44403f;
	position: absolute;
	display: none;
	margin-left: 200px;
	width: 450px;
	height: 280px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .5);
}

#editProject h4 {
	color: #522627;
	font-size: 2.200em;
}

#projectEdit {
	margin: 15px 0 0 10px;
}

#projectEdit label {
	font-size: 1.800em;
	display: inline;
	width: 100px;
	float: left;
	clear: left;
	text-align: right;
	margin: 3px 8px 0 0;
}

#projectEdit input {
	margin: 5px 0 0 0;
}

#projectIDedit {
	width: 25px;
}

#pid p {
	font-size: 1.800em;
	display: inline;
	width: 75px;
	text-align: right;
	margin: 3px 8px 0 0;
}

#pn {
	width: 275px;
	float: left;
	clear: left;
	margin-right: 5px;
}

#projectEdit textarea {
	margin: 5px 0 0 0;
	height: 75px;
}

#projectEdit select {
	margin: 5px 0 0 0;
}

#projectEdit button {
	margin: 10px 0 0 300px;
}

#projectEdit .btn {
	font-size: 1.800em;
}


/*	=	=	=	=	=	= PROJECT CONTENT	=	=	=	=	=	=	*/

#projectContent {
	margin-top: 60px;
	position: absolute;
}

.projectItem {
	height: 100px;
	width: 700px;
	margin-left: 50px;
	background: #3d3f38; /* Old browsers */
	background: -moz-linear-gradient(top, #3d3f38 0%, #292b25 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3f38), color-stop(100%,#292b25)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3d3f38 0%,#292b25 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3d3f38 0%,#292b25 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3d3f38 0%,#292b25 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3d3f38 0%,#292b25 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3f38', endColorstr='#292b25',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.projectItem h5 {
	font-size: 2.300em;
	color: #a4a3a3;
	margin: 10px 0 0 15px;
	width: 300px;
}

.projectItem h6 {
	font-size: 2.000em;
	color: #8b8b8b;
}

.projectItem p {
	font-size: 1.800em;
	color: #8b8b8b;
	margin: 3px 0 0 30px;
}

.col1 {
	width: 200px;
	float: left;
	margin: 0 250px 0 0;
}

.descpt {
	width: 400px;
}

.col2 {
	width: 200px;
	float: left;
	margin: 30px 0 0 10px;
}

.col2 h6 {
	margin-left: 30px;
}

#projectTools {
	width: 32px;
	float: right;
	margin: 15px 8px 0 0;
	
}

#trashProject {
	margin: 7px 0 0 3px;
}

/*	=	=	=	=	=	=	ADDING TASKS	=	=	=	= 	=	=	*/

#addTask {
	background: #44403f;
	position: absolute;
	display: none;
	margin-left: 165px;
	width: 550px;
	height: 300px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .5);
}

#addTask h4 {
	color: #522627;
	font-size: 2.200em;
}

#newTask {
	margin: 15px 0 0 10px;
}

#newTask label {
	font-size: 1.800em;
	display: inline;
	width: 100px;
	float: left;
	clear: left;
	text-align: right;
	margin: 3px 8px 0 0;
}

.fp p {
	font-size: 1.800em;
	display: inline;
	width: 75px;
	text-align: right;
	margin: 3px 8px 0 0;
}

.tn {
	width: 275px;
	float: left;
	clear: left;
	margin-right: 5px;
}

#desc {
	margin: 5px 0 0 0;
}

#newTask input {
	margin: 5px 0 0 0;
}

#newTask textarea {
	margin: 5px 0 0 0;
	height: 75px;
	width: 250px;
}

#newTask select {
	margin: 5px 0 0 0;
}

#newTask button {
	margin: 10px 0 0 375px;
}

#newTask .btn {
	font-size: 1.800em;
}

/*	=	=	=	=	=	=	DELETE TASK	=	=	=	=	=	=	*/

.deleteItem {
	background: #44403f;
	position: absolute;
	display: none;
	margin-left: 200px;
	width: 450px;
	height: 150px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .5);
	text-align: center;
}

.deleteItem h4 {
	font-size: 2.200em;
}

.deleteItemBtns {
	margin: 20px 0 0 125px;
}

#cancelDeleteTask {
	float: left;
	clear: left;
	margin-right: 20px;
}

#deleteTaskBtn {
	margin-top: 5px;
}

/*	=	=	=	=	DELETE PROJECT FLOATS	=	=	=	=	*/

#cancelDeleteProject {
	float: left;
	clear: left;
	margin-right: 20px;
}

/*	=	=	=	=	=	=		EDITING TASKS	=	=	=	= 	=	=	*/

#editTask {
	background: #44403f;
	position: absolute;
	display: none;
	margin-left: 200px;
	width: 450px;
	height: 300px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .5);
}

#editTask h4 {
	color: #522627;
	font-size: 2.200em;
}

#taskEdit {
	margin: 15px 0 0 10px;
}

#editTask label {
	font-size: 1.800em;
	display: inline;
	width: 100px;
	float: left;
	clear: left;
	text-align: right;
	margin: 3px 8px 0 0;
}

#editTask input {
	margin: 5px 0 0 0;
}

#editForProject {
	width: 25px;
}

#editTask textarea {
	margin: 5px 0 0 0;
	height: 75px;
}

#editTask select {
	margin: 5px 0 0 0;
}

#editTask button {
	margin: 10px 0 0 300px;
}

#editTask .btn {
	font-size: 1.800em;
}


/*	= 	=	=	=	=	=		TASK CONTENT	=	=	=	=	=  	=	*/

#taskContent {
	margin-top: 60px;
	position: absolute;
}

.taskItem {
	height: 100px;
	width: 700px;
	margin-left: 50px;
	background: #3d3f38; /* Old browsers */
	background: -moz-linear-gradient(top, #3d3f38 0%, #292b25 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d3f38), color-stop(100%,#292b25)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3d3f38 0%,#292b25 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3d3f38 0%,#292b25 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3d3f38 0%,#292b25 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3d3f38 0%,#292b25 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3f38', endColorstr='#292b25',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.taskItem h5 {
	font-size: 2.000em;
	color: #a4a3a3;
	margin: 10px 0 0 15px;
	width: 300px;
}

.taskItem p {
	font-size: 1.700em;
	color: #8b8b8b;
	margin: 3px 0 0 30px;
	width: 400px;
}

.col1 {
	width: 200px;
	float: left;
	margin: 0 250px 0 0;
}

.descpt {
	height: 50px;
	overflow: hidden;
}


.col2 {
	width: 200px;
	float: left;
	margin: 8px 0 0 10px;
}

#taskTools {
	width: 32px;
	float: right;
	margin: 15px 8px 0 0;
	
}

#trashTask {
	margin: 7px 0 0 3px;
}


/*	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=
 							ACCOUNT SETTINGS
=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	=	*/

#accountSettings {
	padding-bottom: 50px;
}

#genName a {
	text-decoration: none;
	font-size: 2.000em;
	color: #0b1933;
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
	border-bottom: 1px solid #0b1933;
}

#genName a:hover {
	color: #111c16;
}

.accSection label {
	display: inline;
	float: left;
	clear: left;
	width: 200px;
	text-align: right;
	margin-right: 5px;
}


.genName input {
	width: 150px;
}

.accSection input {
	height: 15px;
	width: 200px;
	margin-bottom: 10px;
}

select {
	height: 15px;
	margin-top: 4px;
}

.accSection button {
	margin: 10px 0 0 600px;
}

/*	=	=	=	=	=	=	FORGET PASSWORD	=	=	=	=	=	=	*/

#forget {
	margin: 20px 0 0 15px;
	padding-bottom: 50px;
}

#forget p {
	margin: 0 0 10px 10px
	
}

#forget label {
	display: inline;
	float: left;
	clear: left;
	width: 100px
	text-align: right;
	margin-right: 5px;
}

#forget button {
		margin: 10px 0 0 200px
}

