<div>
	
	<script type="text/template" id="application-top">
		<div class="top">
			<img class="logo" src="images/shcemeLogo.png" width="125" height="124"/> <!-- 500/4 496/4 -->
			<div class="power">
				<a href="#"><img src="images/symbols/settings.png" id="settingsBtn"
								 onmouseover="this.src='images/symbols/settingsDown.png'" 
								 onmousedown="this.src='images/symbols/settingsDown.png'"
								 onmouseout="this.src='images/symbols/settings.png'" width="62.5" height="57.5"></a> <!-- 500/8 460/8 -->
				<a href="#"><img src="images/symbols/power.png" id="logoutPower" 
											onmouseover="this.src='images/symbols/powerDown.png'" 
											onmousedown="this.src='images/symbols/powerDown.png'" 
											onmouseout="this.src='images/symbols/power.png'" width="57" height="62.9"></a> <!-- 570/10 629/10 -->
			</div><!-- power -->
		</div><!-- top -->
	</script><!-- application-top -->
	
	<script type="text/template" id="application-template">
		<div id="app">
			<div class="content">
				<div id="logout">
					<h4>Logout?</h4>
					
					<div id="logoutButtons">
						<a href="#" id="cancel"><button class="btn">Cancel</button></a>
						
						<a href="#"><button id="logoutBtn" class="btn">Logout</button></a>
					</div><!-- logoutButtons -->
				</div><!-- logout -->
				
				<h4 id="hello">Hello, "name"</h4>
				
				<div id="taskMan" width="800">
					
					<div id="tab-container" class="tab-container">
						<ul class="etabs">
							<li class="tab"><a href="#tasks">Tasks</a></li>
							<li class="tab"><a href="#projects">Projects</a></li>
							<li class="tab"><a href="#calendar">Calendar</a></li>
						</ul><!-- etabs -->
						
						<div id="tasks">
							<div class="tabTops">
								<h2>Your Tasks</h2>
								<a href="#" id="taskAdd"><img src="images/symbols/plus.png" class="plus" id="taskPlus"
															  onmouseover="this.src='images/symbols/plusDown.png'" 
															  onmousedown="this.src='images/symbols/plusDown.png'"
										 					  onmouseout="this.src='images/symbols/plus.png'" width="25" height="25" /></a>
							</div><!-- tabTops -->
							
							<div id="addTask">
								<h2>Add a New Task</h2>
								
								<fieldset id="newTask">
									
									<div>
										<label for="taskName">Task Name:</label>
										<input type="text" id="taskName"  name="taskName" />
									</div>
									
									<div>
										<label for="taskDesc">Description:</label>
										<textarea type="text" id="taskDesc" name="taskDesc"></textarea>
									</div>
									
									<div>
										<label for="taskDue">Due Date:</label>
										<input type="date" id="taskDue" name="taskDue" />
									</div>
									
									<div>
										<label for="taskPriority">Priority:</label>
										<select id="taskPrority">
											<option>High</option>
											<option>Medium</option>
											<option>Low</option>
										</select>
									</div>
									
									<a href="#"><button class="btn">Add Task</button></a>
									
								</fieldset><!-- newTask -->
							</div><!-- addTask -->
						</div><!-- tasks -->
						
						<div id="projects">
							<div class="tabTops">
								<h2>Your Projects</h2>
								<a href="#" id="taskAdd"><img src="images/symbols/plus.png" class="plus" 
															  onmouseover="this.src='images/symbols/plusDown.png'" 
															  onmousedown="this.src='images/symbols/plusDown.png'"
										 					  onmouseout="this.src='images/symbols/plus.png'" width="25" height="25" /></a>
							</div><!-- tabTops -->
						</div><!-- projects -->
						
						<div id="calendar">
							<h2>Calendar View</h2>
						</div><!-- calendar -->
						
					</div><!-- tab-container -->

					
				</div><!-- taskMan -->
			</div><!-- content -->
		</div> <!-- app -->
	</script> <!-- application-templace -->

	<script type="text/template" id="account-template">
		<div id="account">
			<div class="content">
				<h4>Account Settings</h4>
				
				<hr />
				
				<div id="accountSettings">
					
					<fieldset class="accSection">
						<h2>Email Address</h2>
						
						<div>
							<label for="accEmail">Current Email:</label>
							<input type="email" id="accEmail" name="accEmail" />
						</div>
						
						<div>
							<label for="accNewEmail">New Email:</label>
							<input type="email" id="accNewEmail" name="accNewEmail" />
						</div>
						
						<a href="#"><button class="btn">Save</button></a>
					</fieldset><!-- accSection -->
					
					<hr />
					
					<fieldset class="accSection">
						<h2>Reset Password</h2>
						
						<div id="genName">
							<label for="oldPass">Current Password:</label>
							<input type="password" id="oldPass" />
							<a href="forgot.html" target="_blank">Forgot Password?</a>
						</div>
						
						<div>
							<label for="newPass">New Password:</label>
							<input type="password" id="newPass" name="newPass" />
						</div>
						
						<div>
							<label for="newPassConf">Confirm Password:</label>
							<input type="password" id="newPassConf" name="newPassConf" />
						</div>
						
						<a href="#"><button class="btn">Reset</button></a>
					</fieldset><!-- accSection -->
					
					<hr />
					
					<fieldset class="accSection">
						<h2>General Information</h2>
						
						<div>
							<label for="genName">Name:</label>
							<input type="text" class="genName" name="genName" placeholder="User's First Name" />
							<input type="text" class="genName" name="genName" placeholder="User's Last Name" />
						</div>
						
						<div>
							<label for="genUser">Username:</label>
							<input type="test" id="genUser" name="genUser" placeholder="User's Username" />
						</div>
						
						<div>
							<label for="genAff">Affiliation:</label>
							<input type="text" id="genAff" name="genAff" placeholder="User's Occupation" />
						</div>
						
						<div>
							<label for="genOcc">Occupation:</label>
							<select id="genOcc" name="genOcc">
								<option> - Select Occupation - </option>
								<option value="Healthcare Practioner and Technical">Healthcare Practioner and Technical</option>
								<option value="Healthcae Support">Healthcare Supprt</option>
								<option value="Installation, maintenance, and repair">Installation, Maintenance and repair</option>
								<option value="Legal">Legal</option>
								<option value="Life, physical and Social science">Life, Physical and Social Science</option>
								<option value="Management">Manaagement</option>
								<option value="Military Specific">Military Specific</option>
								<option value="Off and Administrative Support">Office and Administrative Support</option>
								<option value="Personal Care and Service">Personal Care and Service</option>
								<option value="Product/manufactoring">Product/Manufactoring</option>
								<option value="Protective Services">Protective Services</option>
								<option value="Sales and Related">Sales and Related</option>
								<option value="Student">Student</option>
								<option value="Transportational and Moving">Transportational and Moving</option>
							</select>
						</div>
						<a href="#"><button class="btn">Save Changes</button></a>
					</fieldset> <!-- accSection -->	
				</div><!-- accountSettings -->
			</div><!-- content -->
		</div><!-- account -->
	</script><!-- account-template -->
</div>